.btn-load-more {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    height: 56px;
    width: 296px;
}

.load-more {
    height: 26px;
    left: 4px;
    right: 4px;
    top: calc(50% - 26px/2 - 1px);

    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    text-align: center;

    color: #FFFFFF;
}
