.today-statistic {
    display: flex;
    position: relative;
    height: 312px;
    width: 540px;
    left: 0px;
    border-radius: 0px;
}

.circle {
    position: absolute;
    margin-top: 64px;
    margin-left: 160px;
}

.month-day {
    position: absolute;
    z-index: 10;
    color: white;
    margin-left: 205px;
    margin-top: 144px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter';
}

.percent {
    position: absolute;
    z-index: 20;
    color: white;
    margin-left: 255px;
    margin-top: 140px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Inter';
}
